article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden], template {
    display: none;
}

i, em, code, u, address {
    font-style: normal;
    font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-weight: normal;
}

dl, dt, dd, h1, h2, h3, h4, h5, h6, ul, ol, li, p, pre, header, section, footer, aside, nav, menu, article, figure {
    padding: 0;
    margin: 0;
}

table {
    border-spacing: 0;
}

td, th {
    padding: 0;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    background-color: transparent;
}

a:focus,
input:focus,
button:focus {
    outline: none;
}

b, strong {
    font-weight: normal;
}

input,
button,
select,
textarea {
    resize: none;
    outline: none;
}

input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
    font-size: 62.5%; /* 10/16*100% */
    /* 主要用来阻止移动端横屏字体变大 */
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    /* 非标准属性，暂时去掉 - 设置点击链接的时候出现的高亮颜色*/
    /* -webkit-tap-highlight-color: rgba(0,0,0,0); */
}

body {
    height: 100%;
    width: 100%;
    min-width: 980px;
    margin: 0;
    line-height: 1.42857143;
    font-family: "Microsoft YaHei","Roboto Mono", "Helvetica", "Arial", "黑体", "宋体", sans-serif;
    font-size: 1.4rem;
    /* 字体抗锯齿 */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #F0F2F5;
}